[Desktop Entry]
Version=1.0
Name[ca]=Navegador de perfils del Shotwell
Name[da]=Shotwell-profilbrowser
Name[de]=Shotwell Profil-Betrachter
Name[eu]=Shotwell profil-arakatzailea
Name[fr]=Navigateur de profils Shotwell
Name[he]=פרופיל הדפדפן של Shotwell
Name[hr]=Shotwell preglednik profila
Name[hu]=Shotwell profilböngésző
Name[id]=Peramban Profil Shotwell
Name[lt]=Shotwell profilio žiūryklė
Name[pl]=Przeglądarka profili Shotwell
Name[pt_BR]=Navegador de perfil do Shotwell
Name[ru]=Браузер профилей Shotwell
Name[sl]=Brskalnik profilov Shotwell
Name[sv]=Shotwells profilbläddrare
Name[tr]=Shotwell Profil Görüntüleyici
Name[uk]=Навігатор профілями Shotwell
Name[vi]=Bộ duyệt hồ sơ Shotwell
Name[zh_TW]=Shotwell 個人檔案瀏覽器
Name=Shotwell Profile Browser
GenericName[af]=Foto Organiseerder
GenericName[ar]=مدير الصور
GenericName[as]=ফ'টো ব্যৱস্থাপক
GenericName[ast]=Xestor de semeyes
GenericName[bg]=Мениджър на снимки
GenericName[bn]=ফটো ম্যানেজার
GenericName[bn_IN]=ছবি পরিচালন ব্যবস্থা
GenericName[bs]=Organizator Slika
GenericName[ca]=Gestor de fotografies
GenericName[cs]=Správce fotografií
GenericName[da]=Billedhåndtering
GenericName[de]=Fotoverwaltung
GenericName[el]=Διαχειριστής εικόνων
GenericName[en_GB]=Photo Manager
GenericName[es]=Gestor de fotos
GenericName[et]=Fotohaldur
GenericName[eu]=Argazki-kudeatzailea
GenericName[fi]=Valokuvien hallinta
GenericName[fr]=Gestionnaire de photos
GenericName[gd]=Manaidsear dhealbhan
GenericName[gl]=Xestor de fotos
GenericName[gu]=ફોટો સંચાલક
GenericName[he]=מנהל תמונות
GenericName[hi]=फ़ोटो प्रबंधक
GenericName[hr]=Upravitelj fotografija
GenericName[hu]=Fényképkezelő
GenericName[ia]=Administrator de photos
GenericName[id]=Manajer Foto
GenericName[ie]=Gerentiator de fotos
GenericName[it]=Gestore di fotografie
GenericName[ja]=Shotwell 写真管理ツール
GenericName[ka]=სურათების მმართველი
GenericName[kk]=Фотосуреттерді басқару қолданбасы
GenericName[km]=កម្ម​វិធី​គ្រប់​គ្រង​រូប​ថត
GenericName[kn]=ಫೋಟೊ ವ್ಯವಸ್ಥಾಪಕ
GenericName[ko]=사진 관리자
GenericName[ky]=Фотография менеджери
GenericName[lt]=Nuotraukų tvarkytuvė
GenericName[lv]=Fotogrāfiju pārvaldnieks
GenericName[mjw]=Arjan kelang kerim semar phan
GenericName[mk]=Менаџер на фотографии
GenericName[ml]=ചിത്ര പാലകന്‍
GenericName[mr]=छायाचित्र व्यवस्थापक
GenericName[nb]=Fotobehandler
GenericName[nl]=Fotobeheerder
GenericName[oc]=Gestionari de fòtos
GenericName[or]=ଫୋଟୋ ପରିଚାଳକ
GenericName[pa]=ਫੋਟੋ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer zdjęć
GenericName[pt]=Gestor de fotografias
GenericName[pt_BR]=Organizador de fotos
GenericName[ro]=Administrator de fotografii
GenericName[ru]=Менеджер фотографий
GenericName[sk]=Správca fotografií
GenericName[sl]=Upravljalnik fotografij
GenericName[sr]=Управник фотографија
GenericName[sr@latin]=Upravnik fotografija
GenericName[sv]=Bildhanterare
GenericName[ta]=புகைப்பட அடுக்கு
GenericName[te]=ఫోటో నిర్వాహకం
GenericName[th]=ตัวจัดการภาพถ่าย
GenericName[tr]=Fotoğraf Yöneticisi
GenericName[uk]=Впорядник фотографій
GenericName[vi]=Trình quản lý ảnh
GenericName[zh_CN]=照片管理器
GenericName[zh_HK]=相片管理員
GenericName[zh_TW]=相片管理員
GenericName=Photo Manager
Comment[ca]=Gestiona perfils diferents a Shotwell
Comment[da]=Håndtér forskellige profiler i Shotwell
Comment[de]=Verschiedene Profile verwalten in Shotwell
Comment[eu]=Kudeatu Shotwell aplikazioko profil desberdinak
Comment[fr]=Gérer différents profils dans Shotwell
Comment[he]=ניהול פרופילים שונים ב־Shotwell
Comment[hr]=Upravljanje drugačijim profilima u Shotwellu
Comment[hu]=Különböző profilok kezelése a Shotwell programban
Comment[id]=Kelola Profil Berbeda Di Shotwell
Comment[lt]=Tvarkykite skirtingus Shotwell profilius
Comment[pl]=Zarządzanie profilami programu Shotwell
Comment[pt_BR]=Gerencie diferentes perfis no Shotwell
Comment[ru]=Управление различными профилями в Shotwell
Comment[sl]=Upravljajte različne profile v Shotwellu
Comment[sv]=Hantera olika profiler i Shotwell
Comment[tr]=Shotwellʼde Farklı Profilleri Yönet
Comment[uk]=Керування різними профілями у Shotwell
Comment[vi]=Quản lý các hồ sơ khác nhau trong Shotwell
Comment[zh_TW]=管理 Shotwell 的不同個人檔案
Comment=Manage Different Profiles In Shotwell
Exec=shotwell -b
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Shotwell
Terminal=false
Type=Application
Categories=Graphics;Photography;GNOME;GTK;
X-GIO-NoFuse=true
X-GNOME-Gettext-Domain=shotwell
X-GNOME-FullName=Shotwell Profile Manager
OnlyShowIn=XFCE
